<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ BASE_URL }}/static/tailwind.css">
    <style type="text/css">
        html,
        body {
            width: 500px;
            height: 400px;
            margin: 0;
            padding: 0;
            background: #000;
        }
    </style>
</head>

<body class="p-2 bg-gray-1000 text-gray-200">
    <div class="container p-2">
        <div class="p-3 flex items-center">
            <!-- Avatar -->
            <div class="relative mr-3">
                <img class="rounded-full w-20 shadow-md" src="{{ AVATAR_URL }}">
                <!-- Online status -->
                <div class="rounded-full w-4 h-4 ring-4 bg-green-400 ring-gray-1000 absolute bottom-0 right-1 z-10">
                </div>
            </div>
            <!-- Userinfo -->
            <div class="w-full self-end">
                <h1 class="text-4xl font-medium leading-5">
                    {{ USERNAME }}
                    <br>
                    <span class="text-lg text-gray-500">#{{ DISCRIMINATOR }}</span>
                </h1>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-x-3">
            <!-- Left side -->
            <div>
                <!-- Badges and emojis -->
                <div class="p-3 pt-0 h-10">
                    {{#if IS_PATRON }}
                    <img class="w-6 inline-block" src="{{ BASE_URL }}/static/img/{{ PATRON_EMOJI }}.png">
                    {{/if}}
                </div>
                <!-- Rep and Fishies -->
                <div class="p-3 pt-0 grid grid-cols-2">
                    <div>
                        <p class="inline-block text-2xl font-medium">{{ REP }}</p>
                        <p class="text-gray-400">
                            rep
                            <img class="w-5 inline-block" src="{{ BASE_URL }}/static/img/{{REP_LEVEL}}.png">
                        </p>
                    </div>
                    <div class="text-right">
                        <p class="inline-block text-2xl font-medium">{{ FISHIES }}</p>
                        <p class="text-gray-400">
                            fishies
                            <img class="w-5 inline-block" src="{{ BASE_URL }}/static/img/fishy.png">
                        </p>
                    </div>
                </div>
                <!-- Level and XP bars -->
                <div class="p-3 bg-gray-900 rounded">
                    {{#*inline "level" }}
                        <div class="flex justify-between items-end">
                            <p class="leading-4">
                                {{ name }}
                                <br>
                                <span class="text-3xl font-medium">
                                    {{ level }}
                                </span>
                            </p>
                            <p class="text-sm text-gray-500">
                                {{ xp }} / {{ level_xp }} XP
                            </p>
                        </div>
                        <div class="mt-1 mb-1 w-full h-1 bg-gray-800 rounded">
                            <div class="rounded h-full bg-gradient-to-r from-teal-400 to-blue-500" style="width: {{ progress }}%"></div>
                        </div>
                    {{/inline}}
                    {{> level name="level" level=LEVEL xp=CURR_XP level_xp=REQ_XP progress=XP_PROGRESS }}
                    <div class="h-4"></div>
                    {{> level name="global level" level=GLOBAL_LEVEL xp=GLOBAL_CURR_XP level_xp=GLOBAL_REQ_XP progress=GLOBAL_XP_PROGRESS }}
                </div>
            </div>
            <!-- Ranking -->
            <div class="p-3 bg-gray-900 rounded">
                <h6 class="text-2xl font-medium">
                    rank
                </h6>
                <div class="mt-1 grid grid-rows-4 gap-4">
                    {{#*inline "rank" }}
                        <div class="flex justify-between items-center">
                            <p>
                                <span class="text-4xl font-medium">
                                    {{ rank }}
                                </span>
                                <span class="text-sm text-gray-600">
                                    / {{ total }}
                                </span>
                            </p>
                            <p class="text-gray-500">
                                {{ name }}
                            </p>
                        </div>
                    {{/inline}}
                    {{> rank name="all" rank=RANK_ALL total=RANK_ALL_TOTAL }}
                    {{> rank name="day" rank=RANK_DAY total=RANK_DAY_TOTAL }}
                    {{> rank name="week" rank=RANK_WEEK total=RANK_WEEK_TOTAL }}
                    {{> rank name="month" rank=RANK_MONTH total=RANK_MONTH_TOTAL }}
                </div>
            </div>
        </div>
    </div>
</body>

</html>