<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ BASE_URL }}/static/tailwind.css">
    <style type="text/css">
        html,
        body {
            width: 500px;
            height: 400px;
            margin: 0;
            padding: 0;
            background: #000;
        }
    </style>
</head>

<body class="p-2 bg-gray-1000 text-gray-200">
    <div class="container p-2">
        <div class="p-3 py-2 flex flex-nowrap items-center">
            <!-- Avatar -->
            <div class="relative mr-3 flex-none">
                <img class="rounded-full w-20 shadow-md" src="{{ AVATAR_URL }}">
                <!-- Online status -->
                <div class="rounded-full w-4 h-4 ring-4 bg-green-400 ring-gray-1000 absolute bottom-0 right-1 z-10">
                </div>
            </div>
            <!-- Userinfo -->
            <div class="flex-1 self-center min-w-0">
                <h1 class="w-full py-2 text-4xl font-medium truncate">
                    {{ USERNAME }}
                </h1>
                <h2 class="text-lg leading-4 text-gray-500">
                    #{{ DISCRIMINATOR }}
                </h2>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-x-3">
            <!-- Left side -->
            <div>
                <!-- Badges and emojis -->
                <div class="p-2 pt-1 h-10">
                    {{#if IS_PATRON }}
                    <img class="w-6" src="{{ BASE_URL }}/static/img/{{ PATRON_EMOJI }}.png">
                    {{/if}}
                    <img class="w-6" src="{{ BASE_URL }}/static/img/{{REP_LEVEL}}.png">
                </div>
                <!-- Rep and Fishies -->
                <!-- <div class="mb-2 p-2 px-3 grid grid-cols-2 rounded bg-gradient-to-br from-purple-400 via-pink-500 to-red-500"> -->
                <div class="mb-2 p-2 pb-1 px-3 grid grid-cols-2 rounded-lg shadow-md bg-gradient-to-br from-purple-400 via-blue-500 to-teal-500 ">
                    <p class="text-2xl font-medium leading-5">
                        {{ REP }}
                        <br>
                        <span class="text-gray-200 text-base font-normal">
                            rep
                        </span>
                    </p>
                    <p class="text-2xl font-medium leading-5 text-right">
                        {{ FISHIES }}
                        <br>
                        <span class="text-gray-200 text-base font-normal">
                            fishies
                        </span>
                    </p>
                </div>
                <!-- Level and XP bars -->
                <div class="p-3 bg-gray-900 rounded shadow-md">
                    {{#*inline "level" }}
                        <div class="relative">
                            <p class="leading-4 inline">
                                {{ name }}
                                <br>
                                <span class="text-2xl font-medium">
                                    {{ level }}
                                </span>
                            </p>
                            <p class="text-sm text-gray-500 absolute bottom-0 right-0">
                                {{ xp }} / {{ level_xp }} XP
                            </p>
                        </div>
                        <div class="mt-1 mb-1 w-full h-1 bg-gray-800 rounded">
                            <div class="rounded h-full bg-gradient-to-r from-teal-400 to-blue-500" style="width: {{ progress }}%"></div>
                        </div>
                    {{/inline}}
                    {{> level name="level" level=LEVEL xp=CURR_XP level_xp=REQ_XP progress=XP_PROGRESS }}
                    <div class="h-4"></div>
                    {{> level name="global level" level=GLOBAL_LEVEL xp=GLOBAL_CURR_XP level_xp=GLOBAL_REQ_XP progress=GLOBAL_XP_PROGRESS }}
                </div>
            </div>
            <!-- Ranking -->
            <div class="p-3 bg-gray-900 rounded shadow">
                <p>
                    rank
                </p>
                <div class="mt-1 grid grid-rows-4 gap-4">
                    {{#*inline "rank" }}
                        <div class="flex no-wrap justify-between items-center">
                            <div class="flex-grow-0">
                                <p class="truncate text-sm text-gray-600 w-36">
                                    <span class="text-gray-200 text-4xl font-medium">
                                        {{ rank ~}}
                                    </span>/{{ total }}
                                </p>
                            </div>
                            <p class="text-gray-500">
                                {{ name }}
                            </p>
                        </div>
                    {{/inline}}
                    {{> rank name="all" rank=RANK_ALL total=RANK_ALL_TOTAL }}
                    {{> rank name="day" rank=RANK_DAY total=RANK_DAY_TOTAL }}
                    {{> rank name="week" rank=RANK_WEEK total=RANK_WEEK_TOTAL }}
                    {{> rank name="month" rank=RANK_MONTH total=RANK_MONTH_TOTAL }}
                </div>
            </div>
        </div>
    </div>
</body>

</html>